* {
    box-sizing: border-box;
}
body{
    background-image: url("../images/embossed-diamond.png");
    font-family: 'arial', 'helvetica Neue', 'Helvetica', 'sans-serif' 
}

header { 
    top: 0;
    padding: auto;
    background: #ffffff;
    border-color: #cccccc;
    height: 65px;
    position: fixed;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 1;
}

.clearfix::after {
    content: " ";
    display: block;
    clear: left;
}

h1 {
    background: #4aaaa5;
    width: 250px;
    height: 65px;
    text-align: center;
    margin: 0px 100px;
    padding: 10px 0 5px 0; 
    float: left;
    color: #ffffff;
    
}


nav {
    top: 0;
    left: 65%;  
    margin: 25px 0 0 0;
    float: left;
    position: absolute;
}

a {
    color: #777777;
    display: inline;
    padding: 8px;
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 1.3em;
    padding: 0;
    
}

#maincontent {
    background: #ffffff;
    width: 960px;
    border-color: #dddddd;
    color: #777777;
    display: inline-block;
    margin: 100px;
    
}

.title {
    color: #4aaaa5;
    margin: 25px;
}

#me {
    float: left;
    margin: 10px;
}

.maincontainer {
    padding: 0 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    height: 100%;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
.container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    width: 700px;
}

.imagecontainer {
    width: 200px;
    float: left;
    height: 200px;
    margin: 25px;
    position: relative;
    
}

#videogames {
    width: 100%;
    height: 100%;
    margin: 0 25px;
    position: absolute;
    
}

#videogamelabel {
    position: absolute;
    color: white;
    background-color: #4aaaa5;
    width: 100%;
    text-align: center;
    height: 25%;  
    font-size: 25px;
    z-index: 1;
    padding: 10px;
    margin: 0;
    left: 12.5%;
    top: 75%;    
    
}

#blog {
    width: 100%;
    height: 100%;
    margin: 0 25px;
}

#bloglabel {
    position: absolute;
    color: white;
    background-color: #4aaaa5;
    width: 100%;
    text-align: center;
    height: 25%;  
    font-size: 25px;
    z-index: 1;
    left: 12.5%;
    top: 75%;
    padding: 10px;
    
 }

#triviagame {
    width: 100%;
    height: 100%;
    margin: 0 25px;
    
}

#trivialabel {
    position: absolute;
    color: white;
    background-color: #4aaaa5;
    width: 100%;
    text-align: center;
    height: 25%;  
    font-size: 25px;
    z-index: 1;
    left: 12.5%;
    top: 75%;
    padding: 10px;
    
 }

#infowidget {
    width: 100%;
    height: 100%;
    margin: 25px 25px;
    position: absolute;
    
}

#widgetlabel {
    position: absolute;
    color: white;
    background-color: #4aaaa5;
    width: 100%;
    text-align: center;
    height: 25%;  
    font-size: 25px;
    z-index: 1;
    left: 12.5%;
    top: 87.7%;
    padding: 10px;
 }

#slotmachine {
    width: 100%;
    height: 100%;
    margin: 25px 25px;
}

#slotlabel {
    position: absolute;
    color: white;
    background-color: #4aaaa5;
    width: 100%;
    text-align: center;
    height: 25%;  
    font-size: 25px;
    z-index: 1;
    left: 12.5%;
    top: 87.7%;
    padding: 10px;
 }

footer {
    background: #666666;
    width: 100%;
    height: 65px;
    bottom: 0;
    position: relative;
    border-top: 8px solid #4aaaa5;
}